{% extends "conteneur.html" %}
{% block corps %}
<div>
      <p style="text-align: center">
            → <a href="{{url_for('monographies')}}">Les monographies</a> | <a href="{{url_for('search')}}">Recherche</a> | <a href="{{url_for('home_en')}}">English</a> ←
      </p>
      <p>
          Les <i>Ouvriers des deux mondes</i> sont des recueils d'enquêtes sociologiques publiées sous l'égide de Frédéric Le Play (†1882) et de la Société internationale des études pratiques d'économie sociale. Ces monographies ont été rassemblées en trois séries de treize volumes de 1857 à 1913, deux fascicules supplémentaires paraissant en 1930. Le programme ANR « <a href="http://larhra.ish-lyon.cnrs.fr/anr-time-us" style="font-style: italic;" target="_blank">Time Us</a> » a entrepris de transcrire et de structurer les monographies au standard TEI afin de permettre leur consultation électronique et leur étude.
    </p>
    <p>
      L'acquisition et la structuration initiale des textes ont été réalisées automatiquement à partir des <a href="http://timeusage.paris.inria.fr/mediawiki/index.php/Aper%C3%A7u_des_%C3%A9tats#Les_Ouvriers_des_Mondes">numérisations d'<i>Internet Archive</i></a>, à l'aide de l'application <a href="https://gitlab.inria.fr/almanach/time-us/LSE-OD2M" target="_blank">LSE-OD2M</a> développée par Alix Chagué ; l'encodage scientifique a ensuite été réalisé de manière semi-automatique par Jean-Damien Généro.
</p>
<p style="text-align: center;">
    Cette application a pour but de présenter un état du travail sur les monographies.
</p>
<p style="font-style: italic; font-size: small;">
      Direction technique : Éric Villemonte de la Clergerie, chargé de recherche d'Inria (<a href="https://team.inria.fr/almanach/fr/" target="_blank">ALMAnaCH, 2018-2019</a>), Alix Chagué, ingénieure recherche et développement d'Inria (idem, 2020), Jean-Damien Généro, ingénieur d'études du CNRS (<a href="https://www.cmh.ens.fr/" target="_blank">Centre Maurice Halbwachs</a>, 2020 et <a href="http://crh.ehess.fr/" target="_blank">Centre de recherches historiques</a>, 2020-2021).
</p>
<p style="font-style: italic; font-size: small;">
      Direction scientifique : Anne Lhuissier, directrice de recherche de l'INRAE (CMH) et Stéphane Baciocchi, ingénieur de recherche de l'EHESS (CRH).
</p>
</div>
<div>
  <div id="my-map"></div>
  <script>
      window.onload = function () {
        var basemap = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> | Localisation des monographies des <i>Ouvriers des deux mondes</i> | &copy; 2021 Jean-Damien Genero'
        });

        $.getJSON("../static/json/od2m_map.geojson", function(data) {

              var geojson = L.geoJson(data, {
                  onEachFeature: function (feature, layer) {
        // layer.bindPopup(feature.properties.Area_Name);
        layer.bindPopup('<center><p><b>' + feature.properties.PlaceName + '</b></p></center>' + '<p><b> Monographie n°' + feature.properties.Number + ' :</b> <i><a href="http://127.0.0.1:5000/monographie/' + feature.properties.File + '">'+ feature.properties.Monograph + '</a></i>.<p><b> Date de publication :</b> ' + feature.properties.Date  + '<p><b> Localisation :</b> ' + feature.properties.Localisation  + '<p><b> Auteur :</b> ' + feature.properties.Investigator  + '</p>');
  }
});

              var map = L.map('my-map')
              .fitBounds(geojson.getBounds());
//    .setView([0.0,-10.0], 2);

basemap.addTo(map);
geojson.addTo(map);
});

  };
</script>
</div>
{% endblock %}