{% extends "conteneur.html" %}
{% block corps %}
            <div style="text-align: justify;">
            	<p>
            		Les <i>Ouvriers des deux mondes</i> sont des recueils d'enquêtes sociologiques publiées sous l'égide de Frédéric Le Play (†1882) et de la Société internationale des études pratiques d'économie sociale. Ces monographies ont été rassemblées en trois séries de treize volumes de 1857 à 1913, deux fascicules supplémentaires paraissant en 1930. Le programme ANR « <a href="http://larhra.ish-lyon.cnrs.fr/anr-time-us" style="font-style: italic;" target="_blank">Time Us</a> » a entrepris de transcrire et de structurer les monographies au standard TEI afin de permettre leur consultation électronique et leur étude.
            	</p>
            	<p>
            		L'acquisition et la structuration initiale des textes ont été réalisées automatiquement à partir des <a href="http://timeusage.paris.inria.fr/mediawiki/index.php/Aper%C3%A7u_des_%C3%A9tats#Les_Ouvriers_des_Mondes">numérisations d'<i>Internet Archive</i></a>, à l'aide de l'application <a href="https://gitlab.inria.fr/almanach/time-us/LSE-OD2M" target="_blank">LSE-OD2M</a> développée par Alix Chagué, ingénieure de recherche et de développement de l'<a href="https://team.inria.fr/almanach/fr/" target="_blank">équipe ALMAnaCH d'Inria</a>. L'encodage scientifique a ensuite été réalisé par Jean-Damien Généro, ingénieur d'études du CNRS accueilli au <a href="https://www.cmh.ens.fr/" target="_blank">Centre Maurice Halbwachs</a> puis affecté au <a href="http://crh.ehess.fr/" target="_blank">Centre de recherches historiques</a>, sous la supervision d'Anne Lhuissier, directrice de recherche de l'INRAE (CMH) et de Stéphane Baciocchi, ingénieur de recherche de l'EHESS (CRH).
            	</p>
            	<p style="text-align: center;">
            		Cette application a pour but de présenter un état du travail sur les monographies.
            	</p>
            	<p style="text-align: center;">
            		→ <a href="{{url_for('monographies')}}">Listes des monographies</a> ←
            	</p>
            </div>
{% endblock %}