{% extends "conteneur.html" %}
{% block corps %}
	<div>
		<p style="text-align: center;">
			→ <a href="{{url_for('home')}}">Accueil</a> | <a href="{{url_for('monographies')}}">Les monographies</a> | <a href="{{url_for('search')}}">Recherche</a> ←
        </p>
	</div>
	<div id="other-div">
		{{template_flask1|safe}}
	</div>
	<div>
		<p style="text-align: center;">
			→ <a href="{{url_for('home')}}">Accueil</a> | <a href="{{url_for('monographies')}}">Les monographies</a> | <a href="{{url_for('search')}}">Recherche</a> ←
        </p>
	</div>
{% endblock %}