<link href="{{ url_for('static', filename='css/font.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


<style>
a:link, a:visited {
	text-decoration: none;
	color: #4B4B4B;
}
a:hover, a:active {
	text-decoration: none;
	color: #B1B0B0;
}
#my-map{
	width:960px;
	height:500px;
	margin: 0 auto;
	margin-top: 0px;
}
#main-div{
	margin: 10% 17% 10% 17%;
	font-family: 'Open Sans';
	text-align: justify;
}
</style>