<link href="{{ url_for('static', filename='css/font.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


<style>
#my-map {
	width:960px;
	height:500px;
	margin: 0 auto;
	margin-top: 0px;
}
#home-div{
	width:960px;
	height:380px;
	margin: 0 auto;
	font-family: inherit;
	text-align: justify;
}
#other-div{
	margin: 4% 25% 0% 25%;
}
</style>