{% extends "conteneur.html" %}
{% block corps %}
<div>
      <div>
            <p style="text-align: center;">
                  → <a href="{{url_for('home')}}">Accueil</a> | <a href="{{url_for('monographies')}}">Les monographies</a> | <a href="{{url_for('search')}}">Recherche</a> ←
            </p>
      </div>
      <div style="text-align: center;">
            <h1>Politique de confidentialité</h1>
      </div>
      <div style="text-align: justify;">
            <div>
                  <p style="font-style: italic">Dernière mise à jour de la page : 6 mai 2021.</p>
                  <p>Notice d'informations dans le cadre de la collecte de données personnelles.</p>
                  <p>La présente Notice vise à vous fournir des informations détaillées sur la manière dont le projet de recherche en sciences humaines et sociales « Ouvriers des deux mondes » (ouvriersdeuxmondes.ehess.fr) traite vos données personnelles, conformément au Règlement (UE) 2016/679 et à la Loi n° 78-17.</p>
            </div>
            <div>
                  <h2>Traitement des données</h2>
                  <p>Vos données personnelles sont recueillies, analysées et publiées en tant que sujets d’étude pour le projet de recherche sur le corpus des monographies de familles des <i>Ouvriers des deux mondes</i> menée par le CRH. En particulier, vos données personnelles sont publiées sur le site http://ouvriersdeuxmondes.ehess.fr afin de donner accès aux textes originaux utilisés lors de ce projet de recherche.</p>
                  <ul>
                        <li>Responsable de traitement : Centre de recherches historiques (CRH), unité mixte de recherche 8558 du Centre national de la recherche scientifique (CNRS) et de l’École des hautes études en sciences sociales (EHESS), représenté par sa directrice Béatrice Delaurenti et son directeur Thomas Le Roux et situé à l'EHESS, 54, boulevard Raspail, 75006 Paris.</li>
                        <li>Responsable scientifique du projet : Anne Lhuissier et Stéphane Baciocchi (gestion.sourcesetdonnees [at] ehess [.] fr).</li>
                        <li>Finalité : La finalité du traitement est la gestion du projet de recherche.</li>
                        <li>Base légale : Le traitement de données personnelles est nécessaire à l'exécution d'une mission d'intérêt public.</li>
                        <li>
                              Catégorie de données traitées : Les données collectées par le projet concernent un corpus épistolaire et son appareil critique : notes biographiques, monographies, etc. Les données traitées sont :
                              <ul>
                                    <li>Identité (Nom, Prénom, Âge) ;</li>
                                    <li>Adresse ;</li>
                                    <li>Situation familiale ;</li>
                                    <li>Habitudes de vie et comportement ;</li>
                                    <li>Vie professionnelle.</li>
                              </ul>
                        </li>
                        <li>Personnes concernées : Les auteurs, les destinataires, les personnes citées dans les correspondances publiées.</li>
                        <li>Source des données : Les données sont issues des ayant-droits après leur autorisation de reproduction, de diffusion et d'exploitation.</li>
                        <li>Destinataires des données : Vos données sont en accès libre sur le site lettresfamiliales.ehess.fr.</li>
                        <li>Durée de conservation des données : Vos données sont conservées dans un but d'archivage, à des fins de recherche scientifique. L'archivage définitif sera réalisé à l'issue de la recherche, par le service d'archives de l'unité de recherche CRH, à destination des Archives nationales. Ces archives pourront être consultées dans le respect des délais de communication déterminées par le code du patrimoine (dérogations possibles pour les chercheurs).</li>
                  </ul>
            </div>
            <div>
                  <h2>Vos droits</h2>
                  <p>Vous disposez, dans les limites et conditions autorisées par la réglementation en vigueur, d’un droit d’accès, de rectification, d’effacement et à la portabilité des données personnelles qui vous concernent. Vous pouvez à tout moment retirer votre consentement.</p>
                  <p>Vous disposez également d’un droit d’opposition ou à la limitation du traitement qui vous concerne.</p>
                  <p>Enfin, vous pouvez définir le sort post-mortem que vous souhaitez donner à vos données personnelles.</p>
                  <p>Pour en savoir plus sur vos droits, vous pouvez consulter la <a href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles" target="_blank" alt="lien CNIL">fiche pratique de la CNIL</a>.</p>
                  <p>Pour exercer vos droits, vous pouvez contacter le responsable scientifique du projet par email : gestion.sourcesetdonnees [at] ehess [.] fr ; ou le délégué à la protection des données de l’EHESS par courrier : « DPO - École des hautes études en sciences sociales (EHESS) - 54, boulevard Raspail 75006 Paris » ou par email : dpo [at] ehess [.] fr.</p>
                  <p>Pour l’exercice de vos droits, vous devez impérativement justifier de votre identité en indiquant clairement vos nom et prénoms, l’adresse à laquelle vous souhaitez que la réponse vous soit envoyée, signer votre demande. Nous vous conseillons de joindre une copie de votre pièce d’identité afin de faciliter la prise en compte de votre demande.</p>
                  <p>Si vous n’êtes pas satisfait du traitement de votre demande concernant le traitement de vos données personnelles, vous avez la possibilité de saisir la CNIL : 3, place de Fontenoy - TSA 80715 - 75334 PARIS CEDEX 07 - <a href="www.cnil.fr" target="_blank" alt="lien CNIL">www.cnil.fr</a>.</p>
                  <p>Cette notice d’information est susceptible d’être modifiée.</p>
            </div>
      </div>
      <div>
            <p style="text-align: center;">
                  → <a href="{{url_for('home')}}">Accueil</a> | <a href="{{url_for('monographies')}}">Les monographies</a> | <a href="{{url_for('search')}}">Recherche</a> ←
            </p>
      </div>
</div>
{% endblock %}