{% extends "conteneur.html" %}
	{% block corps %}
    <div>
        <h1>
            Recherche
        </h1>
        <div style="margin:2%">
        <form action="{{url_for('results')}}" method="GET">
            <p>Recherche dans les inventaires des propriétés</p>
            <div>
                <div>
                    <select name="proprietes" type="search" >
                        {% for item in subtype_tble %}
                            {% if item.st_type_fk == 1 %}
                                <option value="{{item.st_label}}">{{item.st_label}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
    <div style="margin:2%">
        <form action="{{url_for('results')}}" method="GET">
            <p>Recherche dans les inventaires des travaux entrepris par les membres de la famille</p>
            <div>
                <div>
                    <select name="travaux" type="search" >
                        {% for item in subtype_tble %}
                            {% if item.st_type_fk == 2 %}
                                <option value="{{item.st_label}}">{{item.st_label}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
    <div style="margin:2%">
        <form action="{{url_for('results')}}" method="GET">
            <p>Recherche dans les inventaires des industries entreprises par la famille</p>
            <div>
                <div>
                    <select name="industries" type="search" >
                        {% for item in subtype_tble %}
                            {% if item.st_type_fk == 3 %}
                                <option value="{{item.st_label}}">{{item.st_label}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
    <div style="margin:2%">
        <form action="{{url_for('results')}}" method="GET">
            <p>Recherche dans les inventaires de l'habitation, du mobilier et des vêtements</p>
            <div>
                <div>
                    <select name="par_10" type="search" >
                        {% for item in subtype_tble %}
                            {% if item.st_type_fk == 4 %}
                                <option value="{{item.st_label}}">{{item.st_label}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
    <p>
        {% for item in inv %}
        {{item.inventoryID}} == {{item.inventory_mono.monotitle}} == {{item.inventory_type.typelabel}} == {{item.inventory_subtype.st_label}} == {{item.inventoryTXT}}<br/><br/>
        {% endfor %}
    </p>
        <p style="text-align: center;">
                    → <a href="{{url_for('home')}}">Accueil</a> | <a href="{{url_for('search')}}">Recherche</a> ←
                </p>
    </div>
{% endblock %}