{% extends "conteneur.html" %}
	{% block corps %}
    <div>
        <h1>
            Base de données des Ouvriers des deux mondes
        </h1>
        <div style="margin:2%">
        <form action="{{url_for('results')}}" method="GET">
            <p>Recherche dans les inventaires des propriétés</p>
            <div>
                <div>
                    <select name="proprietes" type="search" >
                        {% for item in subtype_tble %}
                            {% if item.st_type_fk == 1 %}
                                <option value="{{item.st_label}}">{{item.st_label}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
    <div style="margin:2%">
        <form action="{{url_for('results')}}" method="GET">
            <p>Recherche dans les inventaires des travaux entrepris par les membres de la famille</p>
            <div>
                <div>
                    <select name="travaux" type="search" >
                        {% for item in subtype_tble %}
                            {% if item.st_type_fk == 2 %}
                                <option value="{{item.st_label}}">{{item.st_label}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
    <div style="margin:2%">
        <form action="{{url_for('results')}}" method="GET">
            <p>Recherche dans les inventaires des industries entreprises par la famille</p>
            <div>
                <div>
                    <select name="industries" type="search" >
                        {% for item in subtype_tble %}
                            {% if item.st_type_fk == 3 %}
                                <option value="{{item.st_label}}">{{item.st_label}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
    <div style="margin:2%">
        <form action="{{url_for('results')}}" method="GET">
            <p>Recherche dans les inventaires de l'habitation, du mobilier et des vêtements</p>
            <div>
                <div>
                    <select name="par_10" type="search" >
                        {% for item in subtype_tble %}
                            {% if item.st_type_fk == 4 %}
                                <option value="{{item.st_label}}">{{item.st_label}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}