{% extends "conteneur.html" %}
{% block corps %}
<div id="other-div">
      <div>
            <p style="text-align: center;">
                  → <a href="{{url_for('home')}}">Accueil</a> | <a href="{{url_for('monographies')}}">Les monographies</a> | <a href="{{url_for('search')}}">Recherche</a> ←
            </p>
      </div>
      <div style="text-align: center;">
            <h1>Mentions légales</h1>
      </div>
      <div style="text-align: justify;">
            <div>
                  <p style="font-style: italic">Dernière mise à jour de la page : 6 mai 2021.</p>
                  <p>Le site « Ouvriers des deux mondes » (ouvriersdeuxmondes.ehess.fr) est édité par l'École des hautes études en sciences sociales (EHESS), 54, boulevard Raspail 75006 Paris (tél. 01 49 54 25 25) et a pour directeur de publication Christophe Prochasson, président de l'EHESS. Il est hébergé par l'EHESS.</p>
                  <p>Le responsable de la rédaction est le Centre de recherches historiques (CRH, tél. 01 49 54 24 42, gestion.sourcesetdonnees [at] ehess [.] fr), unité mixte de recherche (UMR) 8558 du Centre national de la recherche scientifique (CNRS) et de l'EHESS.</p>
            </div>
            <div>
                  <h2>Réalisation du site</h2>
                  <p>Le site est réalisé sous la direction scientifique d'Anne Lhuissier et Stéphane Baciocchi, par Jean-Damien Généro.</p>
            </div>
            <div>
                  <h2>Propriété intellectuelle et statut juridique de la présente édition et de ses contenus</h2>
                  <p>Les contenus présentés sur ce site sont couverts par le code de la propriété intellectuelle (CPI).</p>
                  <p>Le corpus de monographies publié sur ce site est issu de volumes papier placé dans le domaine public.</p>
                  <p>Les personnes mentionnées sur le site ouvriersdeuxmondes.ehess.fr peuvent exercer leurs droits auprès du délégué à la protection des données. Les modalités sont détaillées au paragraphe « données personnelles » des présentes mentions légales. Pour en savoir plus sur les traitements de données personnelles dans le cadre du projet de recherche, nous vous invitons à consulter la <a href="{{url_for('privacy')}}">notice d’information</a>.</p>
                  <p>L'intégralité des textes transcrits et de l'appareil critique sont publiés sur le site sous licence <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/fr" target="_blank" alt="lien licence CC BY-NC-ND 3.0 FR">Creative Commons BY-NC-ND 3.0 FR</a>. Vous êtes libres de copier, distribuer et communiquer le matériel par tous les moyens et sous tous les formats selon les conditions suivantes : - crédit obligatoire ; - pas d'utilisation commerciale ; - pas de modifications.</p>
                  <p>Pour toute autre demande : gestion.sourcesetdonnees [at] ehess [.] fr.</p>
            </div>
            <div>
                  <h2>Crédits photographiques et autres mentions relatives aux droits d’auteur</h2>
                  <p>Toutes les numérisations sont mises à disposition librement par Internet Archive (<a href="https://archive.org/" target="_blank" alt="lien Internet Archive">https://archive.org/</a>) ou le site Gallica (<a href="https://gallica.bnf.fr/" target="_blank" alt="lien Gallica">https://gallica.bnf.fr/</a>) de la Bibliothèque nationale de France.</p>
                  <p>Les crédits photographiques et autres mentions relatives aux droits d’auteur, tels que spécifiés sur ce site, doivent être respectés.</p>
            </div>
            <div>
                  <h2>Liens</h2>
                  <p>Vos données à caractère personnel peuvent être traitées par l’Éditeur pour la gestion du formulaire de contact, conformément au Règlement (UE) 2016/679 et à la Loi n° 78-17.</p>
                  <ul>
                        <li>Finalité : Instruction de la demande d’information.</li>
                        <li>Responsable de traitement : École des hautes études en sciences sociales (EHESS), représentée par son président Monsieur Prochasson et sise au 54 boulevard Raspail 75006 Paris.</li>
                        <li>Base légale : Le traitement de données personnelles est basé sur le consentement des personnes concernées.</li>
                        <li>Catégorie de données traitées : Nom, Prénom, Adresse email.</li>
                        <li>Source des données : Les données sont collectées directement auprès des personnes concernées.</li>
                        <li>Caractère obligatoire du recueil des données : Les données avec un astérisque sont obligatoires pour le traitement de la demande qui, à défaut, ne pourra pas être instruite.</li>
                        <li>Destinataires des données : Chercheurs et collaborateurs du projet Correspondance Familiale.</li>
                        <li>Durée de conservation des données : Les données sont conservées pendant 6 mois après le traitement de la demande. À l’issue de ce délai, les données seront supprimées.</li>
                  </ul>
                  <p>Vous disposez, dans les limites et conditions autorisées par la réglementation en vigueur, d’un droit d’accès, de rectification, d’effacement et à la portabilité des données personnelles qui vous concernent. Vous pouvez à tout moment retirer votre consentement. Vous disposez également d’un droit d’opposition ou à la limitation du traitement qui vous concerne. Enfin, vous pouvez définir le sort post-mortem que vous souhaitez donner à vos données personnelles. Pour en savoir plus sur vos droits, vous pouvez consulter la <a href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles" target="_blank" alt="lien CNIL">fiche pratique de la CNIL</a>.</p>
                  <p>Pour exercer vos droits, vous pouvez contacter le responsable scientifique du projet par email : gestion.sourcesetdonnees [at] ehess [.] fr ; ou le délégué à la protection des données de l’EHESS par courrier : « DPO - École des hautes études en sciences sociales (EHESS) - 54, boulevard Raspail 75006 Paris » ou par email à l'adresse dpo [at] ehess [.] fr</p>
                  <p>Vous devez impérativement justifier de votre identité en indiquant clairement vos nom et prénoms, l’adresse à laquelle vous souhaitez que la réponse vous soit envoyée, signer votre demande. Nous vous conseillons de joindre une copie de votre pièce d’identité afin de faciliter la prise en compte de votre demande.</p>
                  <p>En outre, si vous n’êtes pas satisfait du traitement de votre demande concernant le traitement de vos données personnelles, vous avez la possibilité de saisir la CNIL : 3, place de Fontenoy - TSA 80715 - 75334 PARIS CEDEX 07 - ou <a href="www.cnil.fr" target="_blank" alt="lien CNIL">www.cnil.fr</a>.</p>
                  <p>Pour en savoir plus sur les traitements de données personnelles dans le cadre du projet de recherche, nous vous invitons à consulter la <a href="{{url_for('privacy')}}">notice d’information</a>.</p>
            </div>
            <div>
                  <h2>Témoins de connexion ou cookies</h2>
                  <p>Un cookie désigne un fichier texte qu’un serveur web (le site web) dépose sur votre terminal (sur le disque dur de votre ordinateur ou smartphone, ou dans la mémoire de votre navigateur) lorsque vous visitez et utilisez des sites web et des services en ligne. Il contient plusieurs données : le nom du serveur qui l’a déposé, un identifiant sous forme de numéro unique, éventuellement une date d’expiration. Il permet de reconnaître votre terminal lorsque vous revenez sur un site web. En effet, ce n’est pas vous qui êtes reconnu mais le terminal depuis lequel vous visitez un site web. Vous disposez de différents moyens pour gérer les cookies. Vous pouvez à tout moment choisir de désactiver tout ou partie des cookies.</p>
                  <p>Le site « Ouvriers des deux mondes » dépose uniquement des cookies nécessaires au fonctionnement du site. Ces cookies permettent au site de fonctionner de manière optimale.</p>
                  <p>Vous pouvez vous y opposer et les supprimer en utilisant les paramètres de votre navigateur, cependant votre expérience utilisateur risque d’être dégradée. Pour en savoir plus, vous pouvez consulter la <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank" alt="lien CNIL">fiche pratique sur le site de la CNIL</a>.</p>
            </div>
            <div>
                  <h2>Avertissement</h2>
                  <p>Les informations figurant sur ce site ou accessibles par ce site proviennent de sources considérées comme étant fiables. Toutefois, ces informations peuvent contenir des inexactitudes techniques et des erreurs typographiques.</p>
                  <p>Les informations ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour, entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.</p>
                  <p>L’utilisation des informations ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler. Le CRH ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations ou documents disponibles sur ce site.</p>
            </div>
            <div>
                  <h2>Droit applicable</h2>
                  <p>L’utilisation de ce site est régie par le droit français, quel que soit le lieu d’utilisation. </p>
                  <p>En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.</p>
            </div>
            <div>
                  <h2>Droit de réponse</h2>
                  <p>Le droit de réponse peut être exercé auprès de l'École des hautes études en sciences sociales : service.juridique [at] ehess [.] fr.</p>
            </div>
      </div>
      <div>
            <p style="text-align: center;">
                  → <a href="{{url_for('home')}}">Accueil</a> | <a href="{{url_for('monographies')}}">Les monographies</a> | <a href="{{url_for('search')}}">Recherche</a> ←
            </p>
      </div>
</div>
{% endblock %}